{% extends '@AcmeStore/layout.html.twig' %}

{% block title %}
    {% if action=='add' %}
        Add Category
    {% else %}
        Edit Category
    {% endif %}
{% endblock %}

{% block body %}
    {% if action == 'add' %}
        <h2>Add Category</h2>
    {% else %}
        <h2>Edit Category</h2>
    {% endif %}
    <hr/>
    {#
    {{ form(formCategory) }}
    #}
    <div class="formcontent">
        {{ form_start(formCategory) }}

        <div class="error has-error row demo-row">
            {{ form_errors(formCategory) }}
        </div>

        <div class="row demo-row">
            <div class="form-group">
                <div class="col-xs-3">
                    {{ form_label(formCategory.name , 'Category Name: ', { 'attr': {'class': 'control-label'}} ) }}
                </div>
                <div class="col-xs-3">
                    {{ form_widget(formCategory.name , {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(formCategory.name) }}
            </div>
        </div>
        <div class="row">
            <div class="row_submit col-xs-3">
                <input class="btn btn-block btn-lg btn-primary" type="submit" value="{% if action=='add' %}Add Category{% else %}Edit Category{% endif %}" />
            </div>
        </div>
        {{ form_end(formCategory) }}
    </div>
{% endblock %}